body {
  font-family: 'Oxygen', sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.sidebar-nav li {margin: 5px;}

.resume{border-bottom: 1px solid #f2f2f2 ;}

.none{display: none;}

.link_remover{margin: 3px;}

.notification{bottom: 5%;left: 5%;max-width: 150px; position: fixed;}

#goup{bottom: 5%;right: 5%; position: fixed;}

#form-add-rss {margin: 0 auto;}

#form-add-rss button{margin: 3px;}

#form-add-rss input{
  height: 15px;
}

.box{margin: -10px 5px !important;}

.box_link{
  color: #333;
}

.date{
  font-size: 60%;
  color: #999;
}

#navbartop{
  position: fixed;
  top: 0;
  width: 100%;
}

#tagcloud > a{
 color: #333;
 float: left;
 font-size: 12px !important;
 width: 95%;
}

.box .btn{opacity: 0; margin-left: 5px; margin-right: 5%;}

.box:hover .btn{opacity: 1;}

.top{
  color: #544E6E;
}

.box>.top{
  font-size: 10px;
  transform: translate(1px, 250%) rotate(90deg);
  transform-origin: 0 0 0;
  -webkit-transform: translate(1px, 250%) rotate(90deg);
  -moz-transform: translate(1px, 250%) rotate(90deg);
  -ms-transform: translate(1px, 250%) rotate(90deg);
  -o-transform: translate(1px, 250%) rotate(90deg);
  -webkit-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
}

.highlight { background-color: green }
.h0 { color: #999 }
.h1 { color: #111 }
.h2 { color: #222 }
.h3 { color: #333 }
.h4 { color: #444 }
.h5 { color: #555 }
.h6 { color: #666 }
.h7 { color: #777 }
.h8 { color: #888 }
.h9 { color: #999 }
.h10 { color: #000033 }

#cat_zone {
  margin-bottom: 3px;
}
/*fatuberintro*/

.introbg{background: url('../img/3.png') repeat center center transparent}

.front-card {
    height: auto;
    min-height: 150px;
    width: 70%;
    margin: 5%;
    position: absolute;
}

#loading{display: none;}

.desc{display: none;}
.desc.opened {display: block;}